
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playpen+Sans:wght@100..800&family=Sofadi+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: var(--primaryfont);
}

:root {
    --backgroundColor : rgb(20, 17, 150);
    --secondaryColor : rgba(51, 9, 99, 0.945);
    --primaryfont : 'PT Serif', serif;
    --headingsfont : 'Playpen Sans', cursive;
    --secondaryfont : 'Sofadi One'; 
}

h1, h2, h3 {
    font-family: var(--headingsfont);
}

header {
    position: fixed;
    top: 0;
    background-color: var(--backgroundColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--headingsfont);
    z-index: 2;
}

header> img {
    width: 30%;
    height: auto;
    border-radius: 0rem;
    margin: 1rem;
}

header> div {
    width: fit-content;
    position: relative;
    right: 6rem;
    font-size: 0.9rem;
    font-weight: 550;
    background-color: white;
    height: fit-content;
    border-radius: 1rem;
    padding: 10px;
    animation: grow 3s infinite;
}

@keyframes grow {
    0%{
        font-size: 0.9rem;
    }
    50%{
        font-size: 1rem;
    }
    100%{
        font-size: 0.9rem;
    }
}

#menuBars::before {
    content: "≡";
}

#menuBars.show::before {
    content: "✖";
}

#menuBars {
    position: fixed;
    top: 0.5rem;
    right: 1rem;
    color: white;
    font-size: 4rem;
}

#menuBars.show {
    background-color: rgb(126, 32, 32);
    padding: 0 5px;
    font-size: 3rem;
    position: fixed;
    top: 1.2rem;
    right: 0;
}

/*------------    Main Section Styling   ----------*/

#menuItems {
    display: grid;
    grid-template-rows: 0fr;
}

#menuItems.show {
    position: sticky;
    top: 5.2rem;
    margin-top: 5.8rem;
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 0.5s ease-out;
    z-index: 2;
}

#menuItems > ul {
    overflow: hidden;
    padding: 0 3rem;
    background-color: rgb(126, 32, 32);
}

li {
    list-style-type: none;
    padding: 0.8rem 0 1.5rem 0;
}

li > a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

li > a:hover {
    color: gold;
}

/*------------------- gradient card styling ----------------*/
.gradient {
    margin-top: 5rem;
    width: 100%;
    height: 20rem;
    background-image: linear-gradient(to bottom right, var(--secondaryColor), rgba(255, 255, 255, 0.726)), url("../images/mosmith-heroimage-small.webp");
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.gradient.removeMargin {
    margin-top: 0;
}

.slidetext {
    width: 70%;
    animation: slidein 7s ease-out infinite;
    font-size: 3.2rem;
    font-weight: 600;
    padding: 2rem 2rem;
    color: rgb(245, 239, 239);
}

@keyframes slidein {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    10% { 
        transform: translateX(100%);
        opacity: 0;
    }
    30% {
        transform: translateX(0);
        opacity: 1;
    }  
    
    100% {transform: translateX(0);}
}

/*------------    buy and sell Styling   ----------*/
.buyAndSell {
    display: flex;
    background-image: linear-gradient(to bottom, var(--backgroundColor) , var(--backgroundColor), white);
    padding: 0.2rem 0 0 0;
    width: 100%;
    height: 5rem;
}

.buyAndSell > p {
    width: 20%;
    border: 1px solid black;
    background-color: white;  
    text-align: center;
    font-size: 1.3rem;
}

/*------------    buy and sell buttons Styling   ----------*/
#buy , #sell {
    font-family: var(--headingsfont);
    align-self: center;
    padding: 10px;
    border: 0;
    border-bottom: 1.81rem solid var(--backgroundColor);
    background-color: rgb(204, 202, 202);
}

.buyAndSell> #buy.color , .buyAndSell> #sell.color{
    background-color: white;
    border-radius: 40px 40px 0 0;
    border: 0;
    animation: none;
}

/*------------    buy and sell spaces Styling   ----------*/
.buyAndSell> #space.color {
    border-radius: 0 0 40px 0;
}


.buyAndSell> #space2.color {
    border-radius: 0 0 0 40px;
}

.buyAndSell > #space, .buyAndSell> #space2{
    background-color: var(--backgroundColor);
    border: 0;
    
}

/*------------    buy and sell  center space Styling   ----------*/

.buyAndSell> #space1 {
    border: 0;
    background-color: var(--backgroundColor);
}
.buyAndSell> #space1.right {
    border-radius: 0 0 40px 0;
}

.buyAndSell> #space1.left {
    border-radius: 0 0 0 40px ;
}

/*------------    Intro section Styling   ----------*/

.intro > h1 {
    font-size: 1.9rem;
    color: rgb(44, 42, 42);
    padding: 1.5rem 0 0;
    margin-left: 10px;
}

.intro > .liner {
    width: 15%;
    border: 3px solid var(--backgroundColor);
    margin-left: 10px;
    margin-bottom: 2rem;
}

.intro > p {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0 10px 10px;
    color: rgb(12, 12, 63);
}

.intro span {
    color: green;
    font-size: 1.6rem;
    font-weight: 600;
}


/*------------    flip cards Styling   ----------*/

.flipCards > h2 {
    margin: 3rem 0 -1rem;
    text-align: center;
    color: rgb(44, 42, 42);
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    margin: 3rem auto;
    width: 90%;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateX(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 20px;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: var(--backgroundColor);
    color: white;
  }

  .flip-card-front > h2 {
    text-align: center;
    margin: 2rem 0;
  }

  .flip-card-front > p {
    font-size: 1.1rem;
    color: rgb(179, 174, 174);
    margin: 0 0 10px;
  }

  .flip-card-front li {
    padding: 0;
    color: gray;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateX(180deg);
  }

  .flip-card-back > img {
    width: 100%;
    height: 100%;
  }

/*------------ about us section Styling   ----------*/

.aboutUs {
    margin: 3rem 0 0;
    padding: 2rem;
    background-color: var(--secondaryColor);
    font-size: 1.6rem;
    color: rgb(251, 251, 252);
}

.aboutUs> p {
    margin-bottom: 1.5rem;
}

.aboutUs a {
    color: navy;
    text-decoration: none;
}

.aboutUs a:hover {
    color: gold;
}

/*------------ installation section Styling   ----------*/

.moveInSection {
    margin: 0 1.5rem 1rem;
    font-size: 1.6rem;
    padding: 2rem;
    background-color: white;
    color: rgb(5, 5, 51);
    border-radius: 2rem;
}

.moveInSection.animated {
    animation: moveIn 2.5s ease;
}

@keyframes moveIn {
    0% {
        margin-top: 100px;
        opacity: 0;
    }
    50% {
        margin-top: 0;
    }
    100% {
        opacity: 1;
    }
}

#float {
    float: right;
}

.moveInSection> p {
    margin: 1.2rem 0;
}

.moveInSection span {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(202, 144, 19);
}

.container{
    background-color: rgb(247, 247, 250);
    padding: 2rem 0;
}

.sellingItems {
    font-family: var(--secondaryfont);
    font-size: 2rem;
    font-weight: 700;
    padding: 2rem;
    color: rgb(26, 25, 25);
    background-color: var(--secondaryColor);
    color: white;
}

.sellingItems:hover {
    color: rgb(26, 25, 25);
    background-color: white;
}

.sellingItems > p {
    padding: 1rem 0;
}

.sellingItems> p > span {
    color: rgb(39, 186, 245);
}


.technetwork {
    font-weight: 600;
}

.button {
    font-family: var(--headingsfont);
    font-weight: 500;
    background-color: blue;
    padding: 10px;
    border: 2px solid navy;
    border-radius: 15px;
    color: white;
    width: fit-content;
}

.button:hover {
    background-color: white;
    color: var(--backgroundColor);
}
/*------------ footer Styling   ----------*/
footer {
    margin-top: 12rem;
}