* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(20, 17, 150);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header> img {
    width: 30%;
    height: auto;
    border-radius: 0rem;
    margin: 1rem;
}

header> div {
    width: fit-content;
    position: relative;
    right: 6rem;
    font-size: 0.9rem;
    font-weight: 550;
    background-color: white;
    height: fit-content;
    border-radius: 1rem;
    padding: 10px;
    animation: grow 3s infinite;
}

@keyframes grow {
    0%{
        font-size: 0.9rem;
    }
    50%{
        font-size: 1rem;
    }
    100%{
        font-size: 0.9rem;
    }
}

#menuBars::before {
    content: "≡";
}

#menuBars.show::before {
    content: "✖";
}

#menuBars {
    position: fixed;
    top: 0.5rem;
    right: 1rem;
    color: white;
    font-size: 4rem;
}

#menuBars.show {
    background-color: rgb(126, 32, 32);
    padding: 0 5px;
    font-size: 3rem;
    position: fixed;
    top: 1.2rem;
    right: 0;
}

/*------------    Main Section Styling   ----------*/

#menuItems {
    display: grid;
    grid-template-rows: 0fr;
}

#menuItems.show {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 0.5s ease-out;
}

#menuItems > ul {
    overflow: hidden;
    padding: 0 3rem;
    background-color: rgb(126, 32, 32);
}

li {
    list-style-type: none;
    padding: 0.8rem 0 1.5rem 0;
}

li > a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

li > a:hover {
    color: gold;
}

.gradient {
    width: 100%;
    height: 20rem;
    background-image: linear-gradient(to bottom right,rgb(180, 7, 45), rgba(255, 255, 255, 0.596)), url("../images/mosmith-heroimage-small.webp");
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.slidetext {
    width: 50%;
    animation: slidein 7s ease-out infinite;
    font-size: 3rem;
    font-weight: 600;
    padding: 2rem 2rem;
    background-image: linear-gradient(to bottom, rgb(255, 208, 0), white);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes slidein {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    10% { 
        transform: translateX(100%);
        opacity: 0;
    }
    30% {
        transform: translateX(0);
        opacity: 1;
    }  
    
    100% {transform: translateX(0);}
}

.buyAndSell {
    display: flex;
    background-image: linear-gradient(to bottom, rgb(0, 4, 255) ,blue, white);
    padding: 1rem 0 0 0;
    width: 100%;
    height: 5rem;
}

.buyAndSell > p {
    width: 20%;
    border: 1px solid black;
    background-color: white;
    
    text-align: center;
    font-size: 1.3rem;
}


.buyAndSell> .space {
    border-radius: 0 0 40px 0;
    background-color: rgba(20, 20, 161, 0.664);
    border: 0;
}

#buy , #sell {
    align-self: center;
    padding: 10px;
    border: 0;
    border-bottom: 2.2rem solid blue;
}
.buyAndSell> #buy.color , .buyAndSell> #sell.color{
    border-radius: 40px 40px 0 0;
    border: 0;
}
.buyAndSell> p.color {
    border-radius: 0 0 40px 0;
}

.buyAndSell > #space, .buyAndSell> #space2{
    background-color: blue;
    border: 0;
    
}
.buyAndSell > #space.color, .buyAndSell> #space2.color {
    background-color: blue;
    border: 0;
    
}


.buyAndSell> #space1.right {
    border: 0;
    background-color: blue;
    border-radius: 0 0 40px 0;
}

.buyAndSell> #space1.left {
    border: 0;
    background-color: blue;
    border-radius: 0 0 0 40px ;
}

.buyAndSell> #space2.color {
    border-radius: 0 0 0 40px;
}