@media screen and (min-width: 35rem) {

    header>img {
        margin: 0.8rem 1.5rem;
    }

    header>div {
        position: fixed;
        top: 0.95rem;
        right: 20%;
        width: 40%;
        text-align: center;
        align-items: center;
    }


    header>div>p>a {
        font-size: 1.2rem;
        animation: grow 3s infinite;
    }

    @keyframes grow {
        0% {
            font-size: 1.2rem;
        }

        50% {
            font-size: 1.4rem;
        }

        100% {
            font-size: 1.2rem;
        }
    }

    
.Slider img {
    width: 100%;
    height: 18rem;
    margin: 0;
    padding: 0;
    animation: slidestop 30s infinite;
    border: 0;
}

@keyframes slidestop {
    0% {
        transform: translateX(0%);
    }
    6% {
        transform: translateX(0%);
    }

    10% {
        transform: translateX(-100.6%);
    }

    20% {
        transform: translateX(-100.6%);
    }

    24% {
        transform: translateX(-201.2%);
    }

    40% {
        transform: translateX(-201.2%);
    }

    44% {
        transform: translateX(-301.8%);
    }

    60% {
        transform: translateX(-301.8%);
    }

    64% {
        transform: translateX(-402.4%);
    }

    80% {
        transform: translateX(-402.4%);
    }

    84% {
        transform: translateX(-503%);
    }

    100% {
        transform: translateX(-503%);
    }
}

}